body {

    background: #0c192c;
}

.container {
    position: relative;
    max-width: 60%;
    /* padding: 0 20px; */
    margin: 5px auto;
}

.bday-session .bdayTxt {
    color: #7105ff;
    text-align: center;
    font-size: 40px;
    animation: headBdayWishes 2s ease-out;
}

.video-session {
    height: 100px;
}

#overlay-video {
    margin: 0 auto;
    width: 500px;
    height: 90px;
    object-fit: cover;
    mix-blend-mode: screen;
}

.row {
    width: 100%;
    margin-bottom: 20px;

}


.img-1 {
    max-width: 300px;
    float: left;
    margin-right: 40px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;

    border: 3px solid rgb(255, 255, 255);
    border-radius: 6%;
}


.playPause {
    /* padding: 10%; */
    position: absolute;
    margin-left: 255px;
    margin-top: 265px;
}

.playPause button {
    border: none;
    background: none;
    color: white;
}

.txts {
    /* padding-top: 10%; */
    padding-top: 3%;
    width: 100%;
    color: white;
    text-align: justify;
    font-size: 23px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;

}


.gift-btn {
    color: white;
    cursor: pointer;
    background: none;
    border: none;
}


@keyframes photoSlideRtL {
    from {
        opacity: 0;
        transform: translateX(-650px);

    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes headBdayWishes {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;
    }
}


.photoSlideRtL {
    animation: photoSlideRtL 1s ease-out;
}


.box ul li {
    position: absolute;
    width: 35px;
    height: 35px;
    list-style: none;
    opacity: 0;
    background: radial-gradient(deepskyblue, transparent, transparent);
    bottom: 0;
    left: 10vw;
    animation: animate 15s linear infinite;
}

.box ul li:nth-child(2) {
    left: 37vw;
    animation-delay: 2s;
}

.box ul li:nth-child(3) {
    left: 25vw;
    animation-delay: 4s;
}

.box ul li:nth-child(4) {
    left: 60vw;
    animation-delay: 6s;
}

.box ul li:nth-child(5) {
    left: 75vw;
    animation-delay: 4s;
}

@keyframes animate {
    0% {
        transform: scale(0);
        opacity: 1;
        bottom: 0;
    }

    100% {
        transform: scale(10);
        opacity: 0;
        bottom: 100vh;
    }
}